main/default/flows/APFlow_DY.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>67.0</apiVersion>
    <interviewLabel>APFlow DY {!$Flow.CurrentDateTime}</interviewLabel>
    <label>APFlow DY</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Cerateoppppp</name>
        <label>Cerateoppppp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>CloseDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Cerateoppppp</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Firstname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lastname</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Firstname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Lastname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
